@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Top en Setup*/

.seo{
    display: none;
}


html{
    margin: none;
    padding: none;
}

body{
    margin:0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* logonaam*/

#logonaam {

    height: auto;
    max-height: 100%;
    max-width:80%;
}

.Naamlogodiv {
    margin-top: 2vh;
    margin-bottom: 1vh;
    height: 10vh;
    width: 100%;
    overflow: hidden;
    align-items: center;
    display: flex;
    justify-content: center; /* Center the image horizontally */
}

/* Links */

.Links {
    width: 60vw;
    height: 5vh;
    background-color: beige; 
    display: flex;
    text-align: center;
    justify-content: center;

}

.Button {
    font-size: 35px !important;
    display: inline-flex;
    background-color: lightpink; 
    justify-content: center;
    align-items: center;
    width: 25vw;
    height: auto;
    font-family: 'EB Garamond';
    font-size: 30px;
    cursor:pointer;
    

}

.Button:hover {
    font-style: italic;


}

.Bolleke {
    display: inline-flex;
    /* background-color: magenta; */
    justify-content: center;
    align-items: center;
    width: 5vw;
    height: auto;
    
}

/* Video */

.vid_div {
    height: 80vh;
    overflow: visible;
    display:flex;
    background-color: lightblue;

    justify-content: center;
    align-items: center;
    z-index: -1;


}

.vid_div video {
    height: 120% !important;
    width: 100%;
}

/* About */

.About {
    height: 80vh;
    width: 100%;
    display:flex;
    flex-direction: horizontal;
    margin-bottom: 5vh;
    background-color: #dddddd;
    z-index: 1;
    
}



.About img {
    width: 40%;
    height: auto;
    object-fit: contain;

}

.About_txt {

    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 3;

    margin-left: 5%;
    margin-right: 5%;


}

.About_txt p {
    font-size: 1.3vw;
    font-family: 'Raleway';
}

.About_txt img {
    height: auto;
    width: 15%;
    margin-top: 5%;
    margin-bottom: 5%;
}

@media screen and (max-width: 950px) {
    .About {
        
        flex-direction:column;
        align-items: center;
    }

    .About_txt img {
        margin: 0 auto;
    }

    .About_txt p {
        font-size: 1.5vh;
    }
}

/* Portfolio */ 

.kop {
    font-family: 'EB Garamond';
    font-size: 45px;

}


.text {
    font-family: 'Raleway';
    font-size: 20px;

}

.pkop {
    height: 10vh;
    width: 100%;
    background-color:aqua;
    display:flex;
    justify-content:center;
}

.pkop img {
    height: 100%;
}
.cirkels {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;

    /* background: linear-gradient(to right, rgba(156, 219, 246, 0.5), rgba(148, 206, 196, 0.5), rgba(150, 211, 144, 0.5)); */
    height: auto;
    width: 100vw;
    margin-top: 8vh;
}


.styled-link {
    margin-top: 2vh;
    margin-left: 40vw;
    margin-right:40vw;
    margin-bottom: 2vh;
    text-decoration: none;

}

.styled-link:active {
    color:black
}

.styled-link:link {
    color:black;
} 

.styled-link:hover {
    font-style: italic;
}

.styled-link:visited {
    color:black;
} 



.cirkel {
    overflow: visible; /* Apply overflow to hide any content that overflows the circle */
    position: relative;
    width: 19vw;
    height: 19vw;
    min-width: 200px;
    min-height: 200px;
    margin-left: 6vw;
    margin-right: 6vw;
    margin-bottom: 4vh;
    margin-top: 2vh;

    border-radius: 50%;

}

.c_img_div {
    position: absolute;
    overflow: hidden;
    width: inherit;
    min-width: inherit;
    height: inherit;
    min-height: inherit;
    border-radius: 50%; /* This makes the div circular */

}
.cirkel img {
    position: relative;
    width: 100%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: width 1s ease;
}



.cirkelkop {
    font-size: 20px;
    position: absolute;
    width: 19vw;
    min-width: 200px;
    min-height: 200px;
    height: 19vw;
    top: -50px;
    text-align: center;
    z-index: 1;

}
.cirkelkop:hover {
    font-style: italic;
}
.cirkelkop:visited {
    text-decoration: underline;
    text-decoration-style: dashed;
    color: black;
}

.c1:hover img{
    width: 120%;
}

.c2:hover img{
    width: 120%;
}

.c3:hover img{
    width: 120%;
}

.c4:hover img{
    width: 120%;
}

.c5:hover img{
    width: 120%;
}

.Contact {
    margin-top: 50px;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    justify-content: space-between;
    height: auto;
    overflow: hidden;
}

.text_div {
    max-width: 40vw;

}
.kaartje_div {
    display: flex;
    flex-shrink: 0;
    width: 40vw;
    align-items: center;

}

.kaartje_div img {
    width: 100%;
    height: auto;
    transform: rotate(-4deg);
}

.contact_kop{
    width: 40vw;
    height: auto;
    margin-left: 10vw;
    margin-right: 5vw;
    margin-bottom: 20px;
    
    position: relative;

}
.contact_text {
    margin: 5px 10vw;
    margin-right: 5vw;
    width: 40vw;
    max-width: 80vw;
    height: fit-content;

}

.socials {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 50px 10vw;
    background-color: rgb(255, 255, 255);
    width: 40vw;
    height: auto;

}

.socials .fa {
    position: absolute;
    top: 100%;
    bottom: 50%;
    color: #000000;
    font-size: 30px;
    line-height: 50px;
    transition: .5s;
}
.socials .social:nth-of-type(1):hover {
    color: #3b5999;
}

.socials .social:nth-of-type(2):hover {
    color: #e4405f;
}

.socials .social:nth-of-type(3):hover {
    color: #0077B5;
}

.socials .social:nth-of-type(4):hover {
    color: #cd201f;
}

.socials a {
    position: relative;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    margin: 5px 5px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.195);
    text-align: center;
    font-size: 20px;
    transition: 0.5s;
}
.socials a:hover {
    transform: rotate(0deg) skew(0deg) translate(0px, -10px);
}

footer {
    margin-top: 10vh;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #d0d0d0;
    text-align: center;
}


a {
    color: black;
    text-decoration: none; /* Remove underline */
}

/* Set link hover color to gray */
a:hover {
    color: gray;
}

/* Set link focus color to gray */
a:focus {
    color: gray;
}

/* Set link active color to gray */
a:active {
    color: gray;
}

@media screen and (max-width: 950px) {
    .cirkel {
        margin-top: 5vh;
        margin-bottom: 5vh;
    }
}

@media screen and (max-width: 1200px) and (min-width:650px){
    .img-div img {
        transform: translateX(-15%);
        
    }
}


@media screen and (max-width: 750px) {
    .kaartje_div {
        display: none;
    }
    .text_div {
        order: 2;
        max-width: none;
    }
    .Contact {
        justify-content: center;
    }

    .contact_text {
        width: 80vw;
    }
    .socials {
        width: 80vw;
        justify-content: center;
    }

    .socials a {
        margin: 10px 10px;
        transform: translate(0,0px);
    }

    .socials a:hover {
        transform: translate(0,-10px) 

    }

}
@media screen and (max-width: 650px) {
    .Button {
        font-size: 25px !important;
    }
    .kop {
        font-size: 25px;
    }
    .text {
        font-size: 15px;
    }
    .cirkelkop {
        font-size: 15px;
        width: 25vh;
        height: 30vh;
        top: -15%;
    }
    .cirkel {
        width: 25vh;
        height: 25vh;
        margin-top: 5vh;
        margin-bottom: 5vh;
    }
    }

